# Ignore local gradle cache files
/.gradle/

# Ignore build directory
/build/

# Ignore Eclipse specific stuff
/bin/
/.settings/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

